<div class="bar">
    <p class="text" (click)="onClickText('home')">KittyNDoggy</p>
    <p class="text" (click)="onClickText('doacao')">Adoção</p>
    <p class="text" (click)="onClickText('perdido')">Pets Perdidos</p>
    <p  *ngIf="isLoggedIn" class="text" (click)="onClickText('forum')">Forúm</p>
    <button class="icon" mat-icon-button [matMenuTriggerFor]="menu" >
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu" overlapTrigger="false" xPosition="before">
        <button *ngIf="!isLoggedIn" (click)="Login()"  mat-menu-item>Login
        </button>
        <button *ngIf="isLoggedIn && user.isAdmin" (click)="onClickText('user-control')"  mat-menu-item>Controle de usuarios
        </button>
        <button *ngIf="isLoggedIn" (click)="onClickText('updatedata')"  mat-menu-item>Atualizar dados
        </button>
        <button *ngIf="isLoggedIn" (click)="onClickText('createadoption')"  mat-menu-item>Postar adoção
        </button>
        <button *ngIf="isLoggedIn" (click)="onClickText('myadoptions')"  mat-menu-item>Minhas adoções
        </button>
        <button *ngIf="isLoggedIn" (click)="onClickText('createlost')"  mat-menu-item>Postar pet perdido
        </button>
        <button *ngIf="isLoggedIn" (click)="onClickText('mylostpets')"  mat-menu-item>Meus pets perdidos
        </button>
        <button *ngIf="isLoggedIn" (click)="Logout()"  mat-menu-item>Logout
        </button>
        </mat-menu>
</div>

