<div class="container">
  <div class="title" style="grid-area: a" > Adoções dísponiveis</div>
  <div style="grid-area: b" ></div>
  <button class="button" style="grid-area: button" (click)="openModal()"> FILTRAR </button>
<div *ngFor="let doacao of doacoesToDisplay;let indexOfelement=index;" [style.grid-area]="{indexOfelement}" class="doacao" (click)="onClickDoacao(doacao)">
  <img class="img" src="{{doacao.animal.foto[0].imagem}}">
  <div class="text">
     {{doacao.descricao}}
  </div>
</div>

<mat-paginator [length]="doacoes?.length"
[pageSize]="3"
aria-label="Select page"
class="paginator"

(page)="onChangePage($event)">
</mat-paginator>
</div>
