<div class="container"> 
    
    <div class="chat" *ngFor="let messages of messagesToDisplay;let indexOfelement=index;">
        <p class="title">{{messages.usuario.nome}} disse: {{messages.message}}</p>
        <button class="icon" *ngIf="(messages.usuario.id==user.id ||user.isAdmin) && messages.id !==null" mat-icon-button (click)="deleteMessage(messages.id)">
            <mat-icon>delete_forever</mat-icon>
      </button>
    </div>
    <div class="button-container"> 
        
    <mat-form-field class="newMessage">

        <input matInput  [(ngModel)]="newMessage" [value]="newMessage" placeholder="Nova mensagem" >
    
            </mat-form-field>
    <button class="button" 
    (click)="createNewMessage()"> Enviar nova mensagem</button>
</div>
</div>

<mat-paginator [length]="chat?.messages?.length"
[pageSize]="5"
aria-label="Select page"
class="paginator"

(page)="onChangePage($event)">
</mat-paginator>
