
.container {
    display: grid;
margin-top: 30px;
  grid-template-columns:  50% 35% 15%;
  grid-template-rows: 100%;
  grid-template-areas: 
  "img text b";
max-height: 100%;
    min-height: 87vh;
    width: 100vw;
  }
  .img{
    margin-top: 100px;
  max-height: 70%;
  width:70%;
  margin-bottom: 100px;
  justify-self: center;
  align-self: center;
  }
  .text{
    flex-grow:1;
    display: flex;
    flex: initial;
    flex-direction: column;
    color:#FE5F55;
    justify-self: center;
    margin: auto;
    margin-top: 100px;
  }
  li{
    list-style-type: circle;
    flex-grow: 1;
    margin:1px;
  }
  .buttons{
    grid-area: b;
    margin-top: 100px;
    margin-bottom: 100px;
    align-self: flex-end;
  }
  .update{

    color:white;
    border-radius: 40%;
    border: 1px;
    background-color: #FE5F55;
    justify-self: center;
    margin-bottom: 10px;
    cursor: pointer;
  }
  .deletar{
cursor: pointer;
    color:#FE5F55;
    border-radius: 40%;
    border: 1px;
    margin-right: 10px;
    background-color:white ;
    justify-self: center;
  }