<div class="container"> 
    
    <mat-form-field class="filter">

    <input matInput class="filtro"
            (input)="onFiltro($event)"[(ngModel)]="filtro" [value]="filtro" placeholder="filtrar" >

        </mat-form-field>
    <div   class="chat" *ngFor="let chat of chatsToDisplay;let indexOfelement=index;">
        <p (click)="clickOnChat(chat)" class="title">{{chat.title}}</p>        
        <button class="icon" *ngIf="(chat.usuario.id==user.id ||user.isAdmin) && chat.id !==null" mat-icon-button (click)="deleteChat(chat.id)">
            <mat-icon>delete_forever</mat-icon>
      </button>
    </div>
    
    <div class="button-container"> 
    <button class="button" 
    (click)="createNewChat()"> Criar novo chat</button>
</div>
</div>

<mat-paginator [length]="chats?.length"
[pageSize]="4"
aria-label="Select page"
class="paginator"

(page)="onChangePage($event)">
</mat-paginator>