<div class="container"> 
    
    <mat-form-field class="filter">

    <input matInput class="filtro"
            (input)="onFiltro($event)"[(ngModel)]="filtro" [value]="filtro" placeholder="filtrar" >

        </mat-form-field>
    <div  (click)="clickOnChat(chat)" class="chat" *ngFor="let chat of chatsToDisplay;let indexOfelement=index;">
        <p class="title">{{chat.title}}</p>
    </div>
    <div class="button-container"> 
    <button class="button" 
    (click)="createNewChat()"> Criar novo chat</button>
</div>
</div>

<mat-paginator [length]="chats?.length"
[pageSize]="5"
aria-label="Select page"
class="paginator"

(page)="onChangePage($event)">
</mat-paginator>